@charset "UTF-8";

/*** reset css start ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*** end ***/

::-moz-selection {
    background: #8fba2f;
    color: white;
    text-shadow: none;
}
::selection {
    background: #8fba2f;
    color: white;
    text-shadow: none;
}

/*** 组件标签默认样式 ***/
a{
  color: #6b6b6b;
  text-decoration: none;
  transition: color .2s;
  -moz-transition: color .2s;	/* Firefox 4 */
  -webkit-transition: color .2s;	/* Safari 和 Chrome */
  -o-transition: color .2s;	/* Opera */
}
a:hover{
   color: #add153;
}
a.btn,input[type="button"],input[type="submit"],button{
  color: #fff;
  background-color: #add153;
  display: inline-block;
  border-radius: 4px;
  height: 34px;
  min-width: 120px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
}
.btn-effect {
  position: relative;
  overflow: hidden;
}
.btn-effect div {
  position: absolute;
  width: 270px;
  height: 270px;
  margin-left: -135px;
  margin-top: -135px;
  background-color: hsla(0,0%,100%,.5);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  -webkit-animation: ripple-animation 1.5s;
  animation: ripple-animation 1.5s;
}
@keyframes ripple-animation{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}to{-webkit-transform:scale(1);transform:scale(1);opacity:0}}
i.icon{
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
/*checkbox*/
label.checkbox{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid #afafaf;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 10px;
}
label.checkbox[data-status="0"]{    /*未选择*/
}
label.checkbox[data-status="1"]{    /*选中绿色*/
    background-image: url(../img/icon/payment.png);
    background-position: -0.5px -33px;
    border-color: #8fba2f;
}
label.checkbox[data-status="2"]{    /*默认选中灰色*/
    background-image: url(../img/icon/payment.png);
    background-position: 1.5px -3px;
}
label.checkbox[data-ismall="1"]{   /*小*/
    height: 16px;
    width: 16px;
    background-position: 0.5px -21px;
    background-size: 37px auto;
    margin-right: 5px;
}
label.checkbox[data-ismall="1"][data-status="2"]{  /*小+默认选中*/
    background-position: 1.5px -1px;
}
/*** end ***/

/*** icon ***/
 .icon-earth{
   background-image: url("../img/icon/footer_icon.png");
   background-position: -4px -4px;
 }
.icon-safe{
  background-image: url("../img/icon/footer_icon.png");
  background-position: -4px -36px;
}
.icon-question{
  background-image: url("../img/icon/footer_icon.png");
  background-position:-6px -100px;
}
.icon-cs{
  background-image: url("../img/icon/footer_icon.png");
  background-position: -7px -136px;
  width: 27px;
}
.icon-ercode{
  background-image: url("../img/icon/footer_icon.png");
  background-position: -7px -172px;
}
.icon-link{
  background-image: url("../img/icon/footer_icon.png");
  background-position: -4px -68px;
}
/*** end ***/

body{
    color: #6b6b6b;
    background-color: #f2f2f2;
    font: 12px/1.5 tahoma,arial,"Microsoft YaHei",Helvetica,"\5b8b\4f53",sans-serif;
    -webkit-font-smoothing: antialiased;
}
.money{
  font-family: arial;
}
.center{
  width: 1120px;
  margin: 0 auto;
}
.row>div{
   float: left;
}
.row .col-33{
   width: 33.33%;
}
.row .col-25{
  width: 25%;
}
.row .col-50{
  width: 50%;
}
.row>div.right{
   float: right;
}
.row:after{
  content: " ";
  display: block;
  clear: both;
}
.blurry{
  -webkit-filter: blur(1.7px); /* Chrome, Opera */
  -moz-filter: blur(1.7px);
  -ms-filter: blur(1.7px);
  filter: blur(1.7px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1.7, MakeShadow=false); /* IE6~IE9 */
}
::-moz-selection {
  background: #add153;
  color: white;
  text-shadow: none;
}
::selection {
  background: #add153;
  color: white;
  text-shadow: none;
}

/*** header ***/
header{
  background-color: #FFFFFF;
}
header .top{
  font-size: 14px;
  color: #6b6b6b;
  padding: 12px 0;
}
header .top a{
  color: inherit;
}
header .top .right a{
  padding: 5px 21px;
  border: 1px solid #6b6b6b;
  border-radius: 3px;
  transition: all .2s;
  -moz-transition: all .2s;	/* Firefox 4 */
  -webkit-transition: all .2s;	/* Safari 和 Chrome */
  -o-transition: all .2s;	/* Opera */
}
header .top .right a:hover{
  border: 1px solid #add153;
  color: #add153;
}
header .top .right a,.top .right span{
  margin-left: 10px;
}
.download-app{
  cursor: default;
}
.logo{
  width: 190px;
  height: 46px;
  display: inline-block;
  text-indent: -99em;
  background-size: 100% auto;
  background-image: url("../img/header/logo.png");
}
.logo img{
  width: 100%;
}
.menu{
  margin-top: 15px;
  padding-bottom: 5px;
}
.menu:after{
  content: " ";
  display: block;
  clear: both;
}
.menu a{
  float: left;
}
.menu nav{
  float: right;
}
.menu ul{
   margin-top: 17px;
}
.menu ul li{
  display: inline-block;
  margin-left:20px;
}
.menu ul li a{
  padding: 0 10px;
  font-size: 16px;
  position: relative;
}
.menu ul li a.selected:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #add153;
  color: #add153;
  visibility: visible;
  transform: scaleX(1);
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #add153;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1)
}
/*** end ***/

/*** footer ***/
footer{
  margin-top: 30px;
  color: #4f4f4f;
}
footer a{color: #4f4f4f;}
footer .content{
  background-color: #949494;
  min-height: 100px;
}
footer .icon{
  margin-right: 6px;
}
footer h3{
  font-size: 16px;
  margin-bottom:15px;
  vertical-align: middle;
}
footer ul{
  padding-left: 30px;
}
footer ul li{
   font-size: 14px;
   margin-bottom: 15px;
}
footer ul li:last-child{
  margin-bottom: 0;
}
footer .content{
  padding-top: 30px;
}
footer .container{
  padding-bottom: 20px;
  border-bottom: 1px dashed #bebebe;
}
.about-us,.security,.help-center,.hotline{
  border-right: 1px dashed #bebebe;
}
.about-us{
  width: 155px;
}
.security{
  width: 165px;
  box-sizing: border-box;
  padding-left: 20px;
}
.help-center{
  width: 165px;
  box-sizing: border-box;
  padding-left: 20px;
}
.hotline{
  width: 280px;
  min-height: 169px;
}
.hotline h3{
  text-align: center;
}
.hotline p{
  color: #dfdfdf;
  text-align: center;
  font-size: 14px;
}
.hotline .tel{
  font-size: 30px;
}
.hotline p:last-child{
  margin-top: 30px;
}
.app{
  width: 353px;
}
.app h3{
  text-align: center;
}
.links{
  padding: 10px;
}
.links h3{
  margin-bottom: 0;
}
.copyright{
  background-color: #393939;
  height: 40px;
  text-align: center;
}
.copyright p{
   display: inline-block;
   color: #fff;
  font-size: 14px;
  line-height: 40px;
  height: 100%;
  margin-right: 10px;
}
.copyright span{
  display: inline-block;
}
.copyright span a{
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  margin-left: 6px;
}
.copyright span img{
  height: 100% !important;
}
/*** end ***/
