<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
	<title>登录|Login</title>
  <meta name="keywords" content="" >
  <meta name="description" content="" >
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
  <meta name="renderer" content="webkit">
	<link rel="stylesheet" href="/static/css/common.css"  type="text/css" />
	<link rel="stylesheet" href="/static/css/page/login_1.css"  type="text/css" />
  <!--[if lt IE 9]>
  <script src="/static/lib/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
    <div class="container" id="login_content">
       <div class="content">
	       <div class="title">
	           <p class="title1">科技改变生活</p>
	           <p class="title2"><span class="horizontal-line"></span>籽慧风控决策系统<span class="horizontal-line"></span></p>
	       </div>
	       <div class="main">
				<h1>Welcome</h1>
				<div class="login-form">
					<input type="text" id="txtLoginId" placeholder="Username" autocomplete="off" >
					<input type="password" id="txtLoginPwd" placeholder="Password" autocomplete="off" >
					<a id="login-button"><img src="/static/img/login/arrow.png" /></a>
				</div>
		   </div>
       </div>
       <canvas id="index-canvas"></canvas>
    </div>
	<script src="/static/lib/jquery1.11.3.min.js"></script>
	<script src="/static/lib/greensock/TweenLite.min.js"></script>
	<script src="/static/lib/greensock/EasePack.min.js"></script>
	<script src="/static/js/page/login_1.js"></script>
</body>
</html>
