<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
</head>
<body>
  <script type="text/javascript">
     alert("777");
     window.location.href = "rongjingzwdai:// ";

     window.setTimeout(function() {
        window.location.href = "https://itunes.apple.com/us/app/zi-wei-dai/id1219853086 ";
     }, 2000);
  </script>
</body>
</html>
