body{
  background-color: #353535;
  color: #ffffff;
  font-size: 20px;
  margin: 15px;
}
p{
  margin: 20px 0;
}
.icon-plus{
  background-image: url(../assets/img/public/plus.png);
  background-repeat: no-repeat;
  min-height: 22px;
}
.pic-you{
  background-image: url(../assets/img/you.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 178px;
}
.m-15{
  margin: 15px;
}
